body {
    margin: 2%;
    max-width: 100%;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background: wheat;
    border-radius: 5px;
}

header h1 {
    padding: 1%;
    letter-spacing: .2rem;
    font-family: 'Benne', serif;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 1%;
    padding: 2%;
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header li:hover {
    cursor: pointer;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Benne', serif;
    font-size: 6vh;
}

.search-box {
    margin: 2%;
}

fieldset {
    display: flex;
    justify-content: center;
}

#book-title {
    height: 30px;
    width: 400px;
    border-radius: 2px;
}

button {
    background: wheat;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin: 2%;
}

.book-results h1 {
    font-family: 'Benne', serif;
}

.book-entry {
    display: flex;
    border: 1px solid black;
    margin: 2%;
    padding: 1%;
}

.book-entry picture {
    display: flex;
    align-items: center;
    width: 128px;
    padding: 2%;
}

.book-entry h2 {
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
}

.book-entry h5, 
.book-entry p {
    font-size: 3vh;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#book-results {
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 565px) {
    header {
        height: 100px;
        margin-top: -30px;
    }
    header h1 {
        width: 400px;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        justify-content: flex-end;
    }
  }